<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>


<%= link_to 'Edit', edit_shop_comment_path(@comment.shop, @comment) %> |
<%= link_to 'Back', shop_comments_path(@comment.shop) %>
